body {
    background-color: #F6EAE1;
}

h1 {
    color: #AD482f;
}

p {
    color: #5f747d;
	font-family: Georgia, serif;
}

a:link {
	color: #26252c;
}

a:visited {
	color: 26252c;
}

a:hover  {
	color: 26252c;
}

a:active {
	color: 26252c;
}
maintab {
	display: block
}

// #283e4a